<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerhard</title>
</head>
<body>

<!-- Dentro de BODY va el contenido.
Para definir que voy a llamar al contenido que esta en el nav(cual se renderizara siempre que ejecute mi codigo): uso doble llave y simbolo mayor {{ >nombre }}
-->

{{ >nav }}
<!--en body lo q cambio constantemente x cada pagina del sitio web-->

 {{{body }}}

{{ >footer }} 

</body>
</html>